@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
:root{
    --cor-one: rgb(230, 225, 235);
    --cor-two: rgb(71, 149, 212);
}
*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin:0;
    padding:0;
    background-color:var(--cor-one);
    font-family: 'Playfair Display', 'Merriweather';
    color: rgb(230, 225, 235);
}
.container{
    max-width: 500px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-two);
    margin: 50px auto;
    padding: 50px;
    border-radius: 5%;
}
form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus {
    outline: 1px solid var(--primary-color);
}
form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  form button:hover {
    background: var(--primary-color-darker);
  }
.senha-gerada {
    font-size: 2em;
    color: var(--primary-color);
    margin: 40px 0;
}  
input[type="checkbox"] {
    width: 25px;
    height: 25px;
}
button {
    display: block;
    margin: 40px 0;
    font-size: 1em;
}